nepeters.txt

# Build results
redmond-dining-bot/[Dd]ebug/ 
redmond-dining-bot/[Dd]ebugPublic/ 
redmond-dining-bot/[Rr]elease/ 
redmond-dining-bot/x64/ 
redmond-dining-bot/build/ 
redmond-dining-bot/bld/ 
redmond-dining-bot/[Bb]in/ 
redmond-dining-bot/[Oo]bj/

# User-specific files 
5 *.suo 
6 *.user 
7 *.userosscache 
8 *.sln.docstates 

